a.linke:link {
    text-decoration: none;
    color: yellow;
}
a.linke:visited {
	color: darkred;
    font-style: italic
}
a.linke:hover {
	text-decoration: underline;
}
a.linke:active {
    color: orange;
	text-decoration: none
}