body{
    background:
        black
        url("imagem.png")
        no-repeat
        fixed
        center;
}

p{
    color: red;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: left;
}

h1{
    color: green;
    background-color: darkgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h2{
    color: blue;
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: right;
}