body {
    background: yellow;
}
.entrada {
    background-color: aqua;
    font: bold;
    color: blue;
    border: 2px solid black;
}
.selecionar {
    background-color: aquamarine;
    font: bold;
    color: blue;
    border: 2px solid black;
}

.areaDeTexto {
    background-color: lightgreen;
    color: blue;
    border: 2px solid black;
}
